/*Estilo de la cabecera con el nombre de la pagina*/

.cabecera{
    margin-top: 1.5%;
    color: var(--gris);
    font-style: italic;
    margin-bottom: 1.5%;
}

.cabecera h1{
    text-align: center;
    margin: 2%;
}